table.colwidths-auto td {
  width: 50%
}
.header-logo {
    background-image: url("../image/onedl-mmengine-banner.png");
    background-size: 245px;
}
.two-column-table-wrapper {
    width: 50%;
    max-width: 300px;
    overflow-x: auto;
}
.two-column-table-wrapper .highlight {
    width: 1500px
}
